.char{
  width:100px;
  height:150px;
  float:left;
  margin:20px;
  border:1px solid #eee;
}

.case{
  float:left;
  height:50px;
  width:100px;

}

.full{
  height:50px;
  width:50px;
  float:left;
  border-radius:150px;
  background:url(../img/full.png) no-repeat center center;
}

.blank{
  background:url(../img/white.png) no-repeat center center;
  width:50px;
  height:50px;
  float:left;
}

#display{
  width:100%;
  height:auto;
}
